PORT=3001
MONGO_URI=mongodb://localhost:27017/dokan
JWT_SECRET=dokan_dev_secret_key
JWT_EXPIRES=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# eSewa Sandbox (test credentials — replace with live for production)
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/

# Khalti Sandbox (test credentials — replace with live for production)
KHALTI_SECRET_KEY=test_secret_key_dc74e0fd57cb46cd93832aee0a390234
KHALTI_GATEWAY_URL=https://a.khalti.com/api/v2/epayment/initiate/
KHALTI_LOOKUP_URL=https://a.khalti.com/api/v2/epayment/lookup/
